body {
    background-color: #3D3D3D;
}

h1 {
    color: #5DADE2;
}

h2 {
    color: #5DADE2;
}

h3 {
    color: #5DADE2;
}

h4 {
    color: #5DADE2;
}

p {
    color: white
}

.center {
    text-align: center;
}